.feature {
  width: 10%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
